<!-- partials -->

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<%- include('partials/content.ejs') %>

<!-- content -->

<div class="content">
    <h5>Tom Omer Harari</h5>
    <hp>I am an immigrant from Israel, and I arrived in Canada when I was 11 years old. I got my <br>
        citizenship in 2019. Some of my skills include programming, playing the drums, and graphic design. <br>
    In my spare time, I enjoy biking, listening to jazz music, and watching television shows.  </p>
    <a href="\Assets\documents\TOM HARARI - Resume.pdf">Here is a link to my resume</a>
    <img src="\Assets\images\20221004_002822.jpg" width="240px" height="370px"></a>
</div>

<!-- partials -->

<%- include('partials/footer.ejs') %>