<!-- partials -->

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<%- include('partials/content.ejs') %>

<!-- content -->

<div class="content">
    <h4>Here are 3 projects I have worked on in the past <br> (fictional, 
        as I haven't worked on any real projects as of yet)</h4>
    <ul style="list-style: none;">
        <li>Restaurant website: I helped design a restaurant's website. I was responsible for front end.</li>
        <li>Shop website: I helped set up a shop's website. I was responsible for the back end.</li>
        <li>Freelance website: I alone created a personal website for a person who paid me to do so. </li>
    </ul>
    <img src="\Assets\images\grill.png" width="330px" length="100px"> 
    <img src="\Assets\images\shop.png" width="330px" length="100px">
    <img src="\Assets\images\guy.png" width="330px" length="100px"> 
</div>

<!-- partials -->

<%- include('partials/footer.ejs') %>