<!-- partials -->

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<%- include('partials/content.ejs') %>

<!-- content -->

<div class="content">
    <p>Here is a short list of services I can provide:</p>
    <ul style="list-style: none;">
        <li>Graphic design</li>
        <li>Front end web development</li>
        <li>back end web development</li>
        <li>Mobile app development</li>
    </ul>
    <img src="\Assets\images\mobile.jpg" width="330px" length="100px">
    <img src="\Assets\images\web.jpg" width="330px" length="100px">
</div>

<!-- partials -->

<%- include('partials/footer.ejs') %>